:root {
  /* Brand */
  --brand-primary: #f1f85d;
  --brand-secondary: #9ba100;

  /* Background / Surfaces (LIGHT by default) */

  --bg-primary: #141414;
  --bg-medium-primary: #252527;
  --bg-secondary: #2a2a2c;
  --bg-white: #ffffff;

  --text-primary: #f7f7f7;
  --text-secondary: #e2e2e2;
  --text-muted: #9c9c9c;
  --text-subtle: #5a5a5a;

  /* Radius */

  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 48px;
  --radius-full: 1000px;

  /* Specific components */

  --radius-button: var(
    --radius-full
  ); /* Fully rounded for pill-shaped buttons */
  --radius-card: var(--radius-lg);
  --radius-input: var(--radius-full);
  --radius-modal: var(--radius-lg);

  /* Border width */

  --border-thin: 1.5px;
  --border-medium: 2px;
}

/* Dark mode override */
[data-theme="dark"] {
  --bg-primary: #ffffff;
  --bg-medium-primary: #f7f7f7;
  --bg-secondary: #f7f7f7;
  --bg-white: #141414; /* (ton "bg-white" côté dark inversé, ici pour usages particuliers) */

  /* Text (LIGHT) */
  --text-primary: #040404;
  --text-secondary: #383838;
  --text-muted: #9c9c9c;
  --text-subtle: #5a5a5a; /* ton text-black-color */
}
